@import url("./theme.css");

/* AboutMe.css */
.about-me {
    padding: 20px;
    text-align: center;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.about-me h1 {
    color: var(--primary-accent);
}