@import url(./theme.css);

/* Path: src/css/ContentBox.css */

.contentbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contentbox--light {
    background-color: var(--secondary_bg_dark);
    border:2px solid var(--primary_accent)
}

.contentbox--dark {
    background-color: #333;
}


.content-box__image {
    max-width: 30vw;
    /* border: none; */
}

.content-box__image-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary_accent__darker);
    border: 2px solid var(--primary_accent__lighter);
}