@import url("./theme.css");

/* Footer.css */
.footer {
    padding: 10px 20px;
    background-color: var(--footer-bg);
    color: var(--primary-text);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
