@import url("./theme.css");

/* Footer.css */
.footer {
    padding: 10px 20px;
    background-color: var(--primary_accent__darker);
    color: var(--primary_text);
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

}
