@import url("./theme.css");

/* LinkButton.css */

.link-button {
    background-color: var(--primary_accent);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content;
    text-wrap: none;
    border-radius: 10px;
}

.link-button-text {
    color: var(--primary_text);
    display: inline;

}

.link-button:hover {
    background-color: var(--primary_accent__darker);
    color: var(--primary_text);
    scale: 1.1;

}