/* For the music page */


.lyricsContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1px;
  }
  
  .lyrics {
    font-family: "Consolas", 'Courier New', Courier, monospace;
    padding-bottom: 10px; 
  }
  
  .section {
    font-weight: bold;
    font-style: italic;
  }
  
  .stanza {
    font-weight: normal;
  }