/* 
Theme.css is a file that contains the CSS variables that will be used to style the application.
*/


/* Variables */
:root {
    --primary_bg_dark: #1b1b27;
    --primary_bg_light: #e3fff8;
    --primary_accent: #387e6e;
    --primary_text: #f6f6f6;

    --secondary_bg_dark: #1d271b;
    --secondary_bg_light: #6e387e;
    --secondary_accent: #f9e5ff;
    --secondary_text: #2b2b2b;

    --primary_accent__darker: #1f423a;
    --primary_accent__lighter: #4d9987;
    --secondary_accent__darker: #3f1f42;
    --secondary_accent__lighter: #8f4d99;
}

/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary_bg_dark);
    color: var(--primary_text);
}

a {
    text-decoration: underline;
    color: var(--primary_accent);
}

.inline-link:hover {
    scale: 1.05
}

.header-bar {
    /* Stick to top of page unless at top of page */
    position: sticky;
}

.footnote {
    font-size: 0.8em;
    color: var(--secondary_text);
}