/* 
Theme.css is a file that contains the CSS variables that will be used to style the application.
*/


/* Variables */
:root {
    --primary_bg: #1b1b27;
    --primary_accent: #387e6e;
    --primary_text: #f6f6f6;
    --secondary_text: #2b2b2b;

    --primary_accent__darker: #1f423a;
    --primary_accent__lighter: #4d9987;
}

/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary_bg);
    color: var(--primary_text);
}

a {
    text-decoration: underline;
    color: var(--primary_accent);
}