@import url("./theme.css");

/* TopBar.css */
.top-bar {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: var(--primary-text);
    padding: 8px 16px;
}

.nav-link:hover {
    background-color: var(--primary-accent);
}
