/* TopBar.css */

.topbar {
  background-color: #203040;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
}

.header {
  padding-bottom: 10px;
}

.title {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-items {
  color: #f5f5f5;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
}

.navbar-items:hover {
  background-color: #fff;
  color: #203040;
  border-radius: 5px;
}

button {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #232b32;
  border-radius: 5px;
}

button:hover {
  background-color: #fff;
  color: #203040;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  scale: 1.05;
}

#wipTape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px, 20px;
  background-color: #face00;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#tapeText {
  margin: 0;
  padding: 0;
}